@model Blog.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@section styles{
    <style>
        .container {
            margin: auto;
            background-color: white;
        }


        .loginh4 {
            padding-top: 40px;
            margin-top: 0px
        }
    </style>
}
<div class="container">

    <section class="row narrow section-intro add-bottom text-center">
        <div class="col-twelve">
            <h2>@ViewBag.Title.</h2>

            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true)

                @Html.LabelFor(m => m.OldPassword)
                <div>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "full-width" })
                </div>


                @Html.LabelFor(m => m.NewPassword)
                <div>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "full-width" })
                </div>


                @Html.LabelFor(m => m.ConfirmPassword)
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "full-width" })
                </div>

                <div>
                    <input type="submit" value="Change password" class="btn--primary" />
                </div>
            }
        </div>
    </section>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
