@using Blog.Models
@model List<Article>
@{
    ViewBag.Title = "My Articles";
}
<style>
    #btnDelete {
        box-shadow: inset 0px 1px 0px 0px #f5978e;
        background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
        background-color: #f24537;
        border-radius: 6px;
        border: 1px solid #d02718;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 6px 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #810e05;
    }

    #btnDelete:hover {
        background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
        background-color: #c62d1f;
    }

    #btnDelete:active {
        position: relative;
        top: 1px;
    }

    #btnEdit {
        box-shadow: inset 0px 1px 0px 0px #fce2c1;
        background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
        background-color: #ffc477;
        border-radius: 6px;
        border: 1px solid #eeb44f;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 6px 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #cc9f52;
    }

    .#btnEdit:hover {
        background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
        background-color: #fb9e25;
    }

    .#btnEdit:active {
        position: relative;
        top: 1px;
    }
</style>

<section class="s-content">
    <div class="row">
        <div class="col-md-12">
            <p><a class="btn btn--primary" href="@Url.Action("NewArticle","Profile")">New Article</a></p>
            @*@Html.ActionLink("+New Article", "NewArticle", "Profile")*@
        </div>
    </div>

    @if (Model.Count < 1)
    {
        <div class="row" style=" word-break: break-all; ">
            <div class="col-md-12">
                <p>You haven't published an article yet.</p>
            </div>
        </div>
    }


    @foreach (var item in Model)
    {
        <div class="row" style=" word-break: break-all; ">
            <div class="col-md-12">
                <h4>@item.Title</h4>
                <p>@item.Summary</p>
                <a href="@Url.Action("Index","Article",new { id = item.Id })">Read more...</a>
                <p>@item.ArticleTime.Value.ToString("g")</p>
                <a href="@Url.Action("Delete","Profile",new {id=item.Id})" id="btnDelete"><i class="fas fa-trash"></i></a>
                <a href="@Url.Action("Edit","Profile",new {id=item.Id})" id="btnEdit"><i class="fas fa-edit"></i></a>
            </div>
        </div>
        <hr />
    }

</section>

@section scripts{
    <script>
        $("#btnDelete").click(function () {

            if (!confirm("Selected article will be deleted after this.")) {
                return false;
            };
        });
    </script>
}